/* Custom article styling */
.intro h1 {
  width: 250px;
  color: red;
  color: #FFE000;
  background: none;
  background: -moz-linear-gradient(#FFE000, #799F0C);
  background: -webkit-linear-gradient(#FFE000, #799F0C);
  background: linear-gradient(to right, #FFE000, #799F0C);
  background-clip: border-box;
  background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
