img {
    max-width: 100%;
}
blockquote {
  color: #8a9fae;
  border-left: 4px solid #8a9fae;
  margin-left: 0;
  font-style: italic;
  padding-left: 2rem;
}
.main {
  max-width: 780px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
}
.header {
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.header h3 {
  display: inline;
  margin-right: 1rem;
}
.header a {
  margin-right: 1rem;
}
.intro {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}
.intro h1 {
  margin-bottom: .5rem;
}
.desc {
  font-size: 1.75rem;
  max-width: 80%;
  padding-bottom: 0;
  margin-bottom: 1.5rem;
  color: #4a5861;
}
@media (max-width: 550px) {
  .desc {
    max-width: 90%;
  }
}
.date {
  font-size: 1.5rem;
  font-weight: 500;
}
.content-div {
}
