/*
 * Lithium Tunstate
 * A deadsimple nonjavascript theme
 */

/* Header Styling */
.header {
  width: 100%;
  margin-bottom: 50px;
}
.header-title {
  display: inline-block;
  font-size: 2.75rem;
}
.header-link {
  display: inline-block;
  text-decoration: none;
  font-size 2.0rem;
  line-height: 4rem;
  margin-bottom: 0;
  margin-top: 1rem;
  padding-right: 25px;
}
.header-link:hover {
  text-decoration: underline !important;
}

/* General Styling */
.no-link {
  text-decoration: none !important;
  color: inherit;
}
img {
  max-width: 100%;
  margin: 0;
}
.post-desc {
  color: #8a9fae;
}
.catalogue-title {
  margin-bottom: 10px;
}
.catalogue-date {
  display: block;
  padding-bottom: 15px;
}
.catalogue-item {
  display: block;
  margin-bottom: 50px;
}
.hr {
  display: block;
  width: 75px;
  height: 5px;
  margin-bottom: 35px;
  background-color: #4a5861;
}

/* Footer Styles*/
.footer-desc {
  font-weight: 400;
  margin-top: 0;
  color: #8a9fae;
}
.footer-title {
  margin-bottom: 15px;
  color: #4a5861;
}
.footer {
  margin-top: 50px;
}
